Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module build failed: Error: ENOENT: no such file or directory, open '/Users/zh  aoxiaohan/Desktop/crm/node_modules/_lodash@4.17.11@lodash/lodash.js':
  Error: ENOENT: no such file or directory, open '/Users/zhaoxiaohan/Desktop/crm  /node_modules/_lodash@4.17.11@lodash/lodash.js'
  
  - compiler.js:79 childCompiler.runAsChild
    [crm]/[_html-webpack-plugin@3.2.0@html-webpack-plugin]/lib/compiler.js:79:16  
  - Compiler.js:306 compile
    [crm]/[_webpack@4.29.6@webpack]/lib/Compiler.js:306:11
  
  - Compiler.js:630 hooks.afterCompile.callAsync.err
    [crm]/[_webpack@4.29.6@webpack]/lib/Compiler.js:630:14
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [crm]/[_tapable@1.1.1@tapable]/lib/Hook.js:154:20
  
  - Compiler.js:627 compilation.seal.err
    [crm]/[_webpack@4.29.6@webpack]/lib/Compiler.js:627:30
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [crm]/[_tapable@1.1.1@tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1325 hooks.optimizeAssets.callAsync.err
    [crm]/[_webpack@4.29.6@webpack]/lib/Compilation.js:1325:35
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [crm]/[_tapable@1.1.1@tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1316 hooks.optimizeChunkAssets.callAsync.err
    [crm]/[_webpack@4.29.6@webpack]/lib/Compilation.js:1316:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [crm]/[_tapable@1.1.1@tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1311 hooks.additionalAssets.callAsync.err
    [crm]/[_webpack@4.29.6@webpack]/lib/Compilation.js:1311:36
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [crm]/[_tapable@1.1.1@tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1307 hooks.optimizeTree.callAsync.err
    [crm]/[_webpack@4.29.6@webpack]/lib/Compilation.js:1307:32
  
  
  - Hook.js:154 AsyncSeriesHook.lazyCompileHook
    [crm]/[_tapable@1.1.1@tapable]/lib/Hook.js:154:20
  
  - Compilation.js:1244 Compilation.seal
    [crm]/[_webpack@4.29.6@webpack]/lib/Compilation.js:1244:27
  
  - Compiler.js:624 hooks.make.callAsync.err
    [crm]/[_webpack@4.29.6@webpack]/lib/Compiler.js:624:17
  
  
  - Compilation.js:1095 _addModuleChain
    [crm]/[_webpack@4.29.6@webpack]/lib/Compilation.js:1095:12
  
  - Compilation.js:1007 processModuleDependencies.err
    [crm]/[_webpack@4.29.6@webpack]/lib/Compilation.js:1007:9
  
  - next_tick.js:131 _combinedTickCallback
    internal/process/next_tick.js:131:7
  
  - next_tick.js:180 process._tickCallback
    internal/process/next_tick.js:180:9
  
</pre><script type="text/javascript" src="/scripts/main994041c1.bundle.js"></script>